.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    pointer-events: all;
    opacity: 1;
}

.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1f1015;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content.active {
    transform: scale(1);
}